/**
cargar D:\WorkSpace\titila-external\public\fonts\GillSans.ttc
*/
@font-face {
    font-family: 'GillSans';
    src: url('/fonts/GillSans.ttc');
}
@font-face {
    font-family: 'GillSans-light';
    src: url('/fonts/GillSans-Light.ttf');
}
@font-face {
    font-family: 'Meddon';
    src: url('/fonts/Meddon-Regular.ttf');
}
@font-face {
    font-family: 'PetitFormalScript';
    src: url('/fonts/PetitFormalScript-Regular.ttf');
}
@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/YsabeauInfant-VariableFont_wght.ttf');
}
nav{
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0) !important;
}
#title{
    font-family: 'Meddon';
    font-size: 50px;
    color: #766422;
    text-align: center;
    padding-top: 60px;
}
body > div.container > nav > div > ul > li > a{
    margin: 8px !important;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0 rgba(0,0,0,0.2) !important;
}
.libro_link{
    font-family: 'GillSans' !important;
    background-color: white !important;
    border: 1px solid #766422 !important;
    color: #766422 !important;
    position: relative;
    top: 50px;
}
.libro_link_full {
    font-family: 'GillSans' !important;
    background-color: #766422 !important;
    border: 1px solid #766422 !important;
    color: white !important;
    position: relative;
    top: 50px;
    font-size: small !important;
    letter-spacing: 1px;
}
.divFecha{
    padding-top: 20px !important;
    text-align: center;
}
.divFecha p{
    font-family: 'PetitFormalScript';
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin: 0px;
}
.location{
    font-family: 'GillSans';
    font-size: 15px;
    color: #000000;
    text-align: center;
    padding-top: 50px !important;
    letter-spacing: 3px;
}
.bigBorder{
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #766422;
}
.imagen{
    text-align: center;
    position: relative;
    z-index: 2;
}
.zone{
    z-index: 1;
    background-color: #766422;
    padding-top: 138px !important;
    padding-bottom: 51px !important;
    text-align: center;
    top: -75px;
    position: relative;
}
.textoZone {
    color: white;
    font-family: 'GillSans' !important;
    line-height: 1;
    margin: 6px;
    letter-spacing: 2px;
    font-size: small;
}
.margenZone{
    margin-top: 10px;
}
.linkHead{
    font-family: 'GillSans';
    color: #080808 !important;
    font-weight: 200 !important;
}
.linkHead:hover{
    color: #766422 !important;
}
.active{
    color: #766422 !important;
}
.headZone {
    text-align: center;
    padding-bottom: 46px !important;
}
.linkHead{
    font-size: 1em;
    padding:5px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 3px;
}
.footer{
    background-color: #766422;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer p{
    font-family: 'GillSans';
    color: white;
    text-align: center;
}
#programa{
    border: 1px solid #080808;
    padding-bottom: 30px;
    margin-top: 30px;
}
.subtitle {
    font-family: 'PetitFormalScript';
    font-size: 49px;
    color: #766422;
    text-align: center;
}
.cityTitle{
    font-family: 'PetitFormalScript';
    color: #080808;
}
.textCity{
    font-family: 'GillSans';
    text-align: center;
    padding-top: 20px;
    position: relative;
    top: -100px;
}
.textCity p{
    font-family: 'GillSans';
    color:#766422;
    line-height: 1;
}
#lista_regalos {
    font-family: 'GillSans';
    color: #766422;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
}
.linea_fina{
    width: 70px;
    height: 1px;
    background-color: #766422;
    display: inline-block;
    top: 0px;
    position: relative;
    margin: 5px;
}
.title2{
    font-size: 20px;
}
.colored {
    font-family: 'GillSans';
    color: #766422;
    font-weight: bold;
    padding-top: 10px;
}
.colored-fino{
    font-family: 'GillSans';
    color: #766422;
}
.infoText p {
    line-height: 1;
    font-family: 'GillSans-light';
    font-size: 18px;
    margin: 2px;
}
.infoText2 p {
    font-weight: bold;
    font-family: 'GillSans' !important;
    text-align: left;
    padding-left: 80px;
    padding-right: 80px;
}
.centrar{
    text-align: center;
}
.padText{
    font-family: 'GillSans';
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.padText p {
    line-height: 1;
    margin: 8px;
    font-weight: normal;
    letter-spacing: 1px;
}
/*.subtitle2{
    font-weight: bold !important;
}*/
.subtitle{
    margin-top: 60px;
}
.cityTitle{
    text-align: center;
    position: relative;
    top: -100px;
    font-size: 49px;
}
.infoText{
    
}
#city{
    border: 1px solid #766422;
    margin-top: 200px;
    border-bottom: 0px;
}
.cityImg{
    position: relative;
    text-align: center;
    top: -140px;

}
.cityImg img{
    width: 50%;
}
.powered{
    font-family: 'GillSans';
    text-align: center;
    padding-bottom: 30px !important;
    color: #262A53;
    padding-top: 60px !important;
}
.redessociales{
    padding-bottom: 30px !important;
}
#galeria_fotos{
    height: auto;
}
#fixedToFooter{
    padding-bottom:0px !important;
    margin-bottom: 0px !important;
    border-bottom: 0px transparent !important;
}
.ultrapadding {
    padding-top: 0px;
    padding-bottom: 20px;
}
.ultrapadding2 {
    padding-top: 0px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}
.titulos_info {
    margin-top: 15px !important;
    font-weight: bold !important;
    font-family: 'GillSans' !important;
    letter-spacing: 1px;
}
.titulos_imper{
    margin-top: 15px !important;
    font-weight: bold !important;
    font-family: 'GillSans' !important;
    letter-spacing: 1px;
}
.padding-flecha{
    padding-top: 150px !important;
}
.cursiva{
    font-style: italic;
}
.brand-logo img{
    width: 200px !important;
}
.linkRs1 img {
    width: 20px;
}
.linkRs2 img {
    width: 20px;
}
.linkRs3 img {
    width: 20px;
}
.linkRs4 img {
    width: 20px;
}
a.linkRs {
    margin-left: 10px;
    margin-right: 10px;
}
#title{
    text-align: center;
}
body {
    margin: 0;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}
.confirmar_box{
    padding-top:30px;
    text-align: center;
    padding-bottom: 60px;
}
.lista_regalos{
    position: relative;
    top: 75px;
}
.lista_regalos {
    position: relative;
    top: 75px;
    margin-bottom: 160px;
}
div#fotos {
    position: absolute;
    width: 100%;
    z-index: 99999;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    padding-top: 150px;
}
div#firma_guest {
    background: #e3e3e3;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-large {
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    padding: 0 20px;
}
.texto-mayusculas {
    text-transform: uppercase;
}
.frase_celebre{
    font-style: italic;
    padding-bottom: 20px;
}
#libro{
    max-width: 90% !important;
    width: 90% !important;
    height: 90% !important;
    max-height: 90% !important;
    top: 5% !important;
}
div#chat {
    max-height: 340px;
    overflow-y: scroll;
}
#confirmar{
    max-width: 90% !important;
    width: 90% !important;
    height: 90% !important;
    max-height: 90% !important;
    top: 5% !important;
}
.notop{
    margin-top: 0px !important;
    top: 0px !important;
}
@media only screen and (max-width: 1000px) {
    .zone {
    	top: 0px;
        padding-bottom: 60px !important;
        padding-top: 54px !important;
    }
    .imagen img{
	position: relative;
    	top: 40px;
    }
}
@media only screen and (max-width: 900px) {
    .imagen img {
        position: relative;
        top: -22px;
        height: 300px !important;
        width: 120%;
        max-width: 120% !important;
    }
    #city > div > div:nth-child(8) > div > p{
        font-weight: 200;
        padding-left: 30px;
        padding-right: 30px;    
    }
    #city > div > div:nth-child(8) > div > p > b {
        font-weight: bold;
        display: block;
        padding-top: 25px;
    }
    p.subtitle2 {
        padding-bottom: 17px;
        color: #766422;
    }
    .colored {
        font-family: 'GillSans';
        color: #766422;
        font-weight: bold;
        padding-top: 9px;
        letter-spacing: 1px;
        margin-top: 10px;
        padding-bottom: 6px;
    }
    .subtitle {
        font-family: 'PetitFormalScript';
        font-size: 37px;
        color: #766422;
        text-align: center;
    }
    .ultrapadding2 {
        padding-top: 55px;
        padding-bottom: 55px;
        letter-spacing: 2px;
    }
    #program_config{
	margin-bottom: 35px;
    }
    #programa{
        padding-bottom: 0px !important;
	margin-bottom: 0px !important;
    }
    .divFecha > p {
        font-size: 50px;
        margin: 0px;
        font-family: 'PetitFormalScript';
        line-height: 1.2;
    }
    .footer {
        background-color: #766422;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .confirmar_box {
        padding-top: 0px;
        margin-top: -40px;
    }
    .confirmar_box {
        padding-top: 30px;
        text-align: center;
        padding-bottom: 0px;
    }
    .infoText p {
        line-height: 1;
        font-family: 'GillSans-light';
        font-size: 15px;
        margin: 2px;
    }
    .lista_regalos {
        position: relative;
        top: 75px;
        margin-bottom: 170px;
    }
    img.responsive-img, video.responsive-video {
        max-width: 100%;
        height: auto;
        margin-top: -35px;
    }
    .textoZone {
        color: white;
        font-family: 'GillSans' !important;
        line-height: 1.6;
        margin: 6px;
        letter-spacing: 2px;
        font-size: small;
    }
    body {
    	margin: 0;
    	overflow-x: hidden;
    }
    .subtitle {
        margin-top: 0px;
        margin-bottom: 4px;
        font-size: 33px;
        padding-bottom: 23px;
    }
    .padText {
        font-family: 'GillSans';
        padding-top: 30px;
        text-align: center;
        padding-bottom: 150px;
        line-height: 30px;
    }
    .program{
	position: relative;
    	top: -40px;
    }
    .brand-logo {
        position: relative !important;
        left: 10.5% !important;
    }
    .enlinea_div{
        width: 40%;
        float: right;
    }
    ul.enlinea {
        margin-left: 10px;
    }
    #programa {
        border: 1px solid #766422 !important;
        padding-top: 64px;
    }
    .padText a.libro_link_full{
        font-size: 14px !important;
    }
    .padText p {
        line-height: 1;
        margin-top: 1px;
        margin-bottom: 8px;
        font-weight: bold;
    }
    #lista_regalos {
        font-family: 'GillSans';
        color: #766422;
        text-decoration: none;
        text-align: center;
        letter-spacing: 1px;
    }
    .lista_regalos{
        margin-top: 45px !important;
        font-size: 12px;
    }
    .enlinea li a.libro_link {
        position: relative;
        top: -45px;
        font-size: 9px;
        padding: 5px !important;
        line-height: 1;
        height: auto;
    }
    .enlinea li a.libro_link_full{
        position: relative;
        top: -45px;
        font-size: 9px !important;
        padding: 5px !important;
        line-height: 1;
        height: auto;
        margin-left: 6px;
        margin-right: 6px;
    }
    .divFecha{
        position: relative;
        top: 40px;
        padding-top: 0px !important;
        padding-left: 0px !important;
        margin-left: -10px !important;
    }
    .imagen{
        position: relative !important;
        right: -41px !important;
    }
    .divFecha p {
        font-size: 48px;
    }
    .brand-logo img{
        width: 100px !important;
    }
    #title{
        font-size: 27px;
        padding-left: 23px;
        padding-right: 23px;
        top: -40px;
        padding-top: 0px !important;
        position: relative;
    }
    .linkHead {
        font-size: 0.65em;
        padding: 5px;
    }
    .headZone {
        text-align: center;
        padding-bottom: 0px !important;
        margin-bottom: 10px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }   
    div#firma_guest {
        background: #e3e3e3;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    div#chat {
        max-height: 181px;
        overflow-y: scroll;
    } 
    .notop{
        margin-top: 0px !important;
        top: 0px !important;
    }
    .location {
        font-family: 'GillSans';
        font-size: 12px;
        color: #000000;
        text-align: center;
        padding-top: 25% !important;
        padding-bottom: 103px !important;
    }
    .textCity p {
        font-family: 'GillSans';
        color: #766422;
        line-height: 1.6;
    }
    .imagen {
        text-align: center;
        position: relative;
        z-index: 2;
        top: 70px;
    }
    .cityImg {
        position: relative;
        text-align: center;
        top: -80px;
    }
    .zone {
        z-index: 1;
        background-color: #766422;
        padding-top: 68px !important;
        text-align: center;
        top: -75px;
        position: relative;
        max-width: 150%;
        width: 112% !important;
        left: -21px !important;
	padding-bottom: 60px !important;
    }
    .linea_fina {
        width: 65px;
        height: 1px;
        background-color: #766422;
        display: inline-block;
        top: 0px;
        position: relative;
        margin: 5px;
    }
    .enlinea{
        display: flex;
        padding-bottom: 30px;
    }
    #city {
        border: 0px solid #766422 !important;
        margin-top: 0px;
    }
    .cityImg img {
        width: 150%;
        max-width: 150%;
        left: -27%;
        position: relative;
    }
    .cityTitle {
        text-align: center;
        position: relative;
        top: -90px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .ultrapadding {
        padding-top: 0px;
        padding-bottom: 40px;
        letter-spacing: 2;
    }
}
@media only screen and (max-width: 600px) {
    .enlinea_div{
        width: 50%;
    }

}