/**
cargar D:\WorkSpace\titila-external\public\fonts\GillSans.ttc
*/
@font-face {
    font-family: 'GillSans';
    src: url('/fonts/GillSans.ttc');
}
@font-face {
    font-family: 'Meddon';
    src: url('/fonts/Meddon-Regular.ttf');
}
@font-face {
    font-family: 'PetitFormalScript';
    src: url('/fonts/PetitFormalScript-Regular.ttf');
}
@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/YsabeauInfant-VariableFont_wght.ttf');
}
nav{
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0) !important;
}
#title{
    font-family: 'Meddon';
    font-size: 50px;
    color: #766422;
    text-align: center;
}
body > div.container > nav > div > ul > li > a{
    margin:0 !important;
}
.libro_link{
    font-family: 'GillSans' !important;
    background-color: white !important;
    border: 1px solid #766422 !important;
    color: #766422 !important;
    position: relative;
    top: 50px;
}
.libro_link_full{
    font-family: 'GillSans' !important;
    background-color: #766422 !important;
    border: 1px solid #766422 !important;
    color: white !important;
    position: relative;
    top: 50px;
}
.divFecha{
    padding-top: 20px !important;
    text-align: center;
}
.divFecha span{
    font-family: 'PetitFormalScript';
    font-size: 50px;
    color: #000000;
    text-align: center;
}
.location{
    font-family: 'GillSans';
    font-size: 15px;
    color: #000000;
    text-align: center;
    padding-top: 50px !important;
}
.bigBorder{
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #766422;
}
.imagen{
    text-align: center;
    position: relative;
    z-index: 2;
}
.zone{
    z-index: 1;
    background-color: #766422;
    padding-top:150px !important;
    text-align: center;
    top: -75px;
    position: relative;
}
.textoZone{
    color: white;
    font-family: 'GillSans' !important;
}
.linkHead{
    font-family: 'GillSans';
    color: #080808 !important;
    font-weight: bold !important;
}
.linkHead:hover{
    color: #766422 !important;
}
.active{
    color: #766422 !important;
}
.headZone{
    text-align: center;
}
.linkHead{
    font-size: 1em;
    padding:5px;
}
.footer{
    background-color: #766422;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer p{
    font-family: 'GillSans';
    color: white;
    text-align: center;
}
#programa{
    border: 1px solid #080808;
    padding-bottom: 150px;
}
.subtitle{
    font-family: 'PetitFormalScript';
    font-size: 30px;
    color: #766422;
    text-align: center;
}
.cityTitle{
    font-family: 'PetitFormalScript';
    color: #080808;
}
.textCity{
    font-family: 'GillSans';
    text-align: center;
    padding-top: 20px;
    position: relative;
    top: -100px;
}
.textCity p{
    font-family: 'GillSans';
    color:#766422;
}
#lista_regalos{
    font-family: 'GillSans';
    color: #766422;
    text-decoration: none;
    text-align: center;
}
.linea_fina{
    width: 70px;
    height: 1px;
    background-color: #766422;
    display: inline-block;
    top: 0px;
    position: relative;
    margin: 5px;
}
.title2{
    font-size: 20px;
}
.colored{
    font-family: 'GillSans';
    color: #766422;
    font-weight: bold;
}
.centrar{
    text-align: center;
}
.padText{
    font-family: 'GillSans';
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.padText p{
    line-height: 1;
}
.subtitle{
    margin-top: 120px;
}
.cityTitle{
    text-align: center;
    position: relative;
    top: -100px;
}
.infoText{
    
}
#city{
    border: 2px solid #766422;
    margin-top: 200px;
}
.cityImg{
    position: relative;
    text-align: center;
    top: -100px;
}
.cityImg img{
    width: 50%;
}
.powered{
    font-family: 'GillSans';
    text-align: center;
    padding:30px !important;
}
.ultrapadding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.ultrapadding2{
    padding-top: 80px;
    padding-bottom: 80px;
}
.brand-logo img{
    width: 200px !important;
}
.linkRs1 img {
    width: 20px;
}
.linkRs2 img {
    width: 20px;
}
.linkRs3 img {
    width: 20px;
}
.linkRs4 img {
    width: 20px;
}
a.linkRs {
    margin-left: 10px;
    margin-right: 10px;
}
@media only screen and (max-width: 600px) {
    .brand-logo {
        position: relative !important;
        left: 10.5% !important;
    }
    .enlinea_div{
        width: 50%;
        float: right;
    }
    ul.enlinea {
        margin-left: 10px;
    }
    #programa {
        border: 0px solid #080808 !important;
    }
    .padText a.libro_link_full{
        font-size: 14px !important;
    }
    .padText p {
        line-height: 1;
        margin-top: 1px;
        margin-bottom: 1px;
        font-weight: bold;
    }
    .lista_regalos{
        margin-top: 45px !important;
    }
    .enlinea li a.libro_link {
        position: relative;
        top: -45px;
        font-size: 11px;
        padding: 5px !important;
        line-height: 1;
        height: auto;
    }
    .enlinea li a.libro_link_full{
        position: relative;
        top: -45px;
        font-size: 11px;
        padding: 5px !important;
        line-height: 1;
        height: auto;
        margin-left: 12px;
        margin-right: 12px;
    }
    .divFecha{
        position: relative;
        top: 48px;
        padding-left: 0px !important;
        margin-left: -10px !important;
    }
    .imagen{
        position: relative !important;
        right: -41px !important;
    }
    .divFecha span {
        font-size: 48px;
    }
    .brand-logo img{
        width: 100px !important;
    }
    #title{
        font-size: 30px;
    }
    .linkHead {
        font-size: 0.9em;
        padding: 5px;
    }
    .location {
        font-family: 'GillSans';
        font-size: 12px;
        color: #000000;
        text-align: center;
        padding-top: 25% !important;
        padding-bottom: 103px !important;
    }
    .imagen {
        text-align: center;
        position: relative;
        z-index: 2;
        top: 70px;
    }
    .cityImg {
        position: relative;
        text-align: center;
        top: -80px;
    }
    .zone {
        z-index: 1;
        background-color: #766422;
        padding-top: 68px !important;
        text-align: center;
        top: -75px;
        position: relative;
        max-width: 150%;
        width: 112% !important;
        left: -21px !important;
    }
    .linea_fina {
        width: 28px;
        height: 1px;
        background-color: #766422;
        display: inline-block;
        top: 0px;
        position: relative;
        margin: 5px;
    }
    .enlinea{
        display: flex;
        padding-bottom: 30px;
    }
    #city {
        border: 0px solid #766422 !important;
        margin-top: 0px;
    }
    .cityImg img {
        width: 150%;
        max-width: 150%;
        left: -27%;
        position: relative;
    }
    .cityTitle {
        text-align: center;
        position: relative;
        top: -90px;
        font-size: 30px;
        font-weight: 500;
    }
    .ultrapadding {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}